body{

	text-align: center;
	// background-image: url(../img/background.jpg);
	// background-repeat: no-repeat;
	// background-position: center top;
	// background-attachment: fixed;
	// background-size: cover;
	font-family: 'Poiret One', cursive;
	/*font-family: 'Lora', serif;*/
	color: black;
}
header{
	height: 250px;
	padding-top: 60px;
}
h1{
	// font-family: 'Sacramento', cursive;
	font-size: 5em;
}
h2{
	font-size: 20px;
}
h3{
	box-sizing:border-box;
	height: 200px;
	width:200px;
	padding-top: 55px;
	position:absolute;
	z-index: 1;
	color:white;
	margin-top: 0px;
	text-align: center;
	font-size: 2em;

	background-color: #453B4C;
	border: 1px solid #453B4C;
	border-radius: 100px;
}



h3:hover{
	// color: rgba(255,255,255,0.0);
	opacity:0.0

}


.sop, .exq, .spr, .fau, .git{
    position: absolute;
}

ul{
	width: 60%;
	margin: 50px auto;
}

